<div class="application-wrapper">
  <div class="application-header">
    <h2>{{ApplicationName}}</h2>
    <div class="description">{{Description}}</div>
    <div class="status-icons">
      <div title="{{awsTooltip}}" class="application-aws application-aws-{{aws}}"></div>
      <div title="{{definedTooltip}}" class="application-defined application-defined-{{defined}}">
        <i class="fa fa-question"></i>
      </div>
    </div>
  </div>
  <div class="application-content">
    <div class="last-updated" title="{{lastUpdatedExact}}">{{lastUpdatedVague}}</div>
    <div class="list-group environments">{{#Environments}}
      <a href="#" class="list-group-item environment environment-status-{{Status}} environment-health-{{Health}}">
        <div class="environment-content">
          <div>
            <span class="env-name">{{EnvironmentName}}</span>
            <i class="environment-status Launching fa fa-rocket"></i>
            <i class="environment-status Updating fa fa-spinner fa-spin"></i>
            <i class="environment-status Ready fa fa-thumbs-up"></i>
            <i class="environment-status Terminating fa fa-trash-o fa-spin"></i>
            <i class="environment-status Terminated fa fa-trash-o"></i>
          </div>
          <div class="env-description">{{Description}}</div>
          <div class="env-label">{{VersionLabel}}</div>
        </div>
      </a>{{/Environments}}
    </div>
  </div>
</div>
